@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;

600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@font-face {
  font-family: "Merriweather-Black";
  font-display: swap;
  src: url("../fonts/Merriweather-Black.woff") format("woff"), url("../fonts/Merriweather-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather-Bold";
  font-display: swap;
  src: url("../fonts/Merriweather-Bold.woff") format("woff"), url("../fonts/Merriweather-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather-BoldItalic";
  font-display: swap;
  src: url("../fonts/Merriweather-BoldItalic.woff") format("woff"), url("../fonts/Merriweather-BoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather-HeavyItalic";
  font-display: swap;
  src: url("../fonts/Merriweather-HeavyItalic.woff") format("woff"), url("../fonts/Merriweather-HeavyItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.btn {
  font-family: "Open Sans";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 0px 32px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  height: 42px;
}

.btn_flex {
  width: 100%;
}

.btn_radius {
  border-radius: 0px;
}

.btn_orange {
  background-color: #ff9b51;
  border: none;
}

.title {
  position: relative;
}

.title__main {
  font-family: "Raleway";
  font-size: 36px;
  line-height: calc(42 / 36);
  padding: 0px 0px 20px 0px;
  color: #3e3e3e;
}

.title__main_w {
  color: #fff;
}

.title__main_small {
  font-size: 20px;
}

.title__main_padding {
  padding: 0px 0px 0px 0px;
}

.title__main_center {
  text-align: center;
}

.title__item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 2px;
  background-color: #ff8b38;
}

.title__item_w {
  background-color: #fff;
}

.title__item_center {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.socials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  margin: 0px 60px 0px 0px;
  font-size: 48px;
  color: #cccccc;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.socials__item:last-child {
  margin: 0px 0px 0px 0px;
}

.header {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 79px;
          flex: 0 0 79px;
  position: relative;
  z-index: 4;
}

.header__logo img {
  max-width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 4;
}

.menu__list li {
  margin: 0px 27px 0px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  line-height: 1.2;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 16px;
  color: #a8a8a8;
}

body {
  color: #86878b;
  font-family: "Raleway";
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

._ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

._ibg img {
  display: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1100px;
  margin: 0 auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.intro {
  position: relative;
  padding: 110px 0px 140px 0px;
}

.intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
}

.intro__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.info-intro__content {
  padding: 0px 11.81818% 0px 0px;
}

.info-intro__logo {
  margin: 0px 0px 30px 0px;
}

.info-intro__logo img {
  max-width: 175px;
}

.info-intro__text {
  max-width: 90%;
  color: #a8a8a8;
  margin: 30px 0px 0px 0px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
}

.info-intro__btn {
  margin: 44px 0px 0px 0px;
}

.form-intro__title {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
  padding: 15px;
  background-color: #f5f5f5;
}

.form-intro__title span {
  color: #ff8b38;
  text-transform: uppercase;
}

.form-intro__items {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.form-intro__item {
  padding: 11px 0px 11px 14px;
  color: #bdbdbd;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 1, 0.15);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 1, 0.15);
  margin: 0px 0px 36px 0px;
}

.social-media {
  padding: 22px 0px;
  background-color: #fff;
}

.social-media__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.social-media__text {
  line-height: 19px;
  margin: 8px 0px 0px 0px;
}

.social-media__socials {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 87px;
}

.slider {
  background-color: #f5f5f5;
}

.slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #ff8b38;
}

.slider .swiper-pagination {
  bottom: 60px;
}

.item-slider__container {
  padding: 90px 15px 130px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-slider__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 100px 0px 0px;
}

.item-slider__title {
  margin: 0px 0px 20px 0px;
}

.item-slider__text p {
  line-height: 21px;
  margin: 0px 0px 15px 0px;
}

.item-slider__text p:last-child {
  margin: 0px 0px 0px 0px;
}

.item-slider__btn {
  margin: 40px 0px 0px 0px;
}

.item-slider__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}

.item-slider__image img {
  max-width: 100%;
}

.sublist {
  padding: 100px 0px;
}

.sublist__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sublist__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 490px;
          flex: 0 0 490px;
}

.sublist__image img {
  max-width: 100%;
}

.sublist__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 70px;
}

.sublist__text {
  margin: 25px 0px 30px 0px;
  line-height: 18px;
}

.block-sublist__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 35px 0px;
}

.block-sublist__icon {
  font-size: 16px;
  padding: 11px 0px;
  text-align: center;
  color: #ff8b38;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43px;
          flex: 0 0 43px;
}

.block-sublist__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 25px;
}

.block-sublist__title {
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 17px;
  font-weight: 600;
  color: #212121;
  margin: 0px 0px 8px 0px;
}

.block-sublist__text {
  line-height: 18px;
}

.picture {
  padding: 100px 0px 80px 0px;
  background-color: #f5f5f5;
}

.picture__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.picture__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 70px 0px 0px;
}

.picture__text {
  margin: 27px 0px 0px 0px;
}

.picture__text p {
  margin: 0px 0px 20px 0px;
  line-height: 19px;
}

.picture__text p:last-child {
  margin: 0px 0px 0px 0px;
}

.picture__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 490px;
          flex: 0 0 490px;
}

.picture__image img {
  max-width: 100%;
}

.why {
  padding: 105px 0px;
}

.why__subtitle {
  text-align: center;
  line-height: 19px;
  margin: 27px 0px 60px 0px;
}

.why__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px -16px;
}

.why__column {
  padding: 0px 16px;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.why__icon {
  display: inline-block;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ff8b38;
  width: 70px;
  border: 1px solid #ff8b38;
  border-radius: 50%;
  padding: 17px 0px;
  margin: 0px 0px 18px 0px;
}

.why__title {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
  margin: 0px 0px 15px 0px;
}

.why__text {
  line-height: 19px;
}

.pricing {
  background-color: #f5f5f5;
  padding: 100px 0px;
}

.pricing__subtitle {
  text-align: center;
  margin: 20px 0px 60px 0px;
}

.pricing__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -20px;
}

.pricing__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 20px;
}

.item-pricing {
  text-align: center;
}

.item-pricing__category {
  font-family: "Open Sans";
  background-color: #333333;
  padding: 21px 0px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid #fff;
}

.item-pricing__privileges {
  background-color: #fff;
}

.item-pricing__privilege {
  font-family: "Open Sans";
  padding: 15px 0px;
  border-bottom: 1px solid #f5f5f5;
  text-transform: uppercase;
}

.item-pricing__privilege:last-child {
  border-bottom: none;
}

.price-item-pricing {
  background-color: #333333;
  padding: 30px 0px 20px 0px;
  border-bottom: 5px solid  #ff8b38;
}

.price-item-pricing_p {
  padding: 30px 0px 0px 0px;
  border-bottom: none;
}

.price-item-pricing__number {
  font-family: Raleway;
  font-size: 94px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 0px 0px 28px 0px;
}

.price-item-pricing__number span {
  font-size: 35px;
}

.price-item-pricing__payment {
  font-family: "Open Sans";
  font-style: italic;
  margin: 0px 0px 16px 0px;
}

.price-item-pricing__label {
  background-color: #ff8b38;
  padding: 8px 0px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.what {
  padding: 100px 0px;
}

.what__subtitle {
  text-align: center;
  margin: 20px 0px 55px 0px;
}

.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.what__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 60px;
}

.what__message {
  background-color: #f5f5f5;
  padding: 24px 12px;
  margin: 0px 0px 23px 0px;
  line-height: 19px;
  font-style: italic;
  position: relative;
  border-radius: 5px;
}

.what__message:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid #f5f5f5;
  bottom: -16px;
  left: 24px;
}

.customer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer__ava {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
}

.customer__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 15px;
}

.customer__name {
  font-family: "Open Sans";
  margin: 0px 0px 4px 0px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
}

.customer__profession {
  font-family: "Open Sans";
}

.stylish {
  position: relative;
  padding: 74px 0px 63px 0px;
  text-align: center;
}

.stylish__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stylish__container {
  position: relative;
  z-index: 2;
}

.stylish__subtitle {
  margin: 23px 0px 0px 0px;
  line-height: 19px;
}

.stylish__btn {
  margin: 33px 0px 0px 0px;
}

.contact {
  padding: 100px 0px 80px 0px;
  text-align: center;
}

.contact__subtitle {
  margin: 20px 0px 80px 0px;
}

.form-contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -40px 43px -40px;
}

.form-contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 40px;
}

.form-contact__item {
  width: 100%;
  padding: 11px 0px 11px 14px;
  color: #bdbdbd;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
  margin: 0px 0px 30px 0px;
}

.form-contact__item:last-child {
  margin: 0px 0px 0px 0px;
}

.form-contact__item_h {
  height: 100%;
}

@media (min-width: 992px) {
  .socials__item:hover {
    color: #ff9b51;
  }

  .menu__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1112px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .title__main {
    font-size: 28px;
  }

  .socials__item {
    font-size: 37px;
    margin: 0px 40px 0px 0px;
  }

  ._container {
    max-width: 750px;
  }

  .social-media__socials {
    padding: 0px 0px 0px 50px;
  }

  .item-slider__content {
    padding: 0px 60px 0px 0px;
  }

  .item-slider__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
  }

  .sublist__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 360px;
            flex: 0 0 360px;
  }

  .sublist__content {
    padding: 0px 0px 0px 35px;
  }

  .picture__content {
    padding: 0px 35px 0px 0px;
  }

  .picture__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 360px;
            flex: 0 0 360px;
  }

  .pricing__items {
    margin: 0px -9px;
  }

  .pricing__item {
    padding: 0px 9px;
  }

  .what__row {
    margin: 0px -16px;
  }

  .what__column {
    padding: 0px 16px;
  }
}

@media (max-width: 767.98px) {
  .socials__item {
    margin: 0px 30px 0px 0px;
  }

  .header__container {
    height: 50px;
  }

  .menu__body {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    padding: 120px 0px 0px 0px;
    background-color: #ff9b51;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    overflow: auto;
  }

  .menu__body:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #000;
  }

  .menu__body._active {
    visibility: visible;
    opacity: 1;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0px 0px 25px 0px;
  }

  .menu__link {
    font-size: 23px;
    color: #fff;
  }

  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #a8a8a8;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  ._container {
    max-width: none;
    padding: 0 15px;
  }

  .intro {
    padding: 40px 0px;
  }

  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-intro__content {
    padding: 0px 0px 80px 0px;
  }

  .info-intro__logo img {
    max-width: 130px;
  }

  .info-intro__logo {
    margin: 0px 0px 20px 0px;
  }

  .social-media__container {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social-media__content {
    padding: 0px 0px 35px 0px;
  }

  .social-media__socials {
    padding: 0px 0px 0px 0px;
  }

  .item-slider__container {
    padding: 70px 15px 110px 15px;
    text-align: center;
  }

  .item-slider__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-slider__content {
    padding: 0px 0px 40px 0px;
  }

  .item-slider__image {
    width: 100%;
  }

  .sublist__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sublist__content {
    padding: 0px 0px 0px 0px;
  }

  .picture__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .picture__content {
    padding: 0px 0px 40px 0px;
  }

  .picture__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .why__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -23px 0px;
  }

  .why__column {
    padding: 23px 0px;
  }

  .pricing__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }

  .pricing__item {
    padding: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .what__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -16px;
  }

  .what__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 16px;
  }
}

@media (max-width: 600px) {
  .pricing__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}

@media (max-width: 500px) {
  .what__row {
    margin: -16px 0px;
  }

  .what__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 16px 0px;
  }
}

@media (max-width: 480px) {
  .title__main {
    font-size: 22px;
    padding: 0px 0px 15px 0px;
  }

  .title__main_padding {
    padding: 0px 0px 0px 0px;
  }

  .pricing__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}